<a href="https://colab.research.google.com/github/blackcrowX/Data_Analysis_Projects/blob/main/Python/Demographic_Data_Analyser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<h1>Demographic Data Analyser</h1>
<img src="https://i.postimg.cc/K8mbkyhz/Logo-Black.png"/>
</div>

## Table of Contents
* Introduction
* Setup
  * Import Libraries
  * Import Data
* Data Analysis
  * Data Cleaning
  * Draw Line Plot
  * Draw Bar Plot
  * Draw Box Plot

<h1 align="center">Introduction</h1>

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. The dataset was published by <a href="https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer">freeCodeCamp</a>. Here is a sample of what the data looks like:

|    |   age | workclass        |   fnlwgt | education   |   education-num | marital-status     | occupation        | relationship   | race   | sex    |   capital-gain |   capital-loss |   hours-per-week | native-country   | salary   |
|---:|------:|:-----------------|---------:|:------------|----------------:|:-------------------|:------------------|:---------------|:-------|:-------|---------------:|---------------:|-----------------:|:-----------------|:---------|
|  0 |    39 | State-gov        |    77516 | Bachelors   |              13 | Never-married      | Adm-clerical      | Not-in-family  | White  | Male   |           2174 |              0 |               40 | United-States    | <=50K    |
|  1 |    50 | Self-emp-not-inc |    83311 | Bachelors   |              13 | Married-civ-spouse | Exec-managerial   | Husband        | White  | Male   |              0 |              0 |               13 | United-States    | <=50K    |
|  2 |    38 | Private          |   215646 | HS-grad     |               9 | Divorced           | Handlers-cleaners | Not-in-family  | White  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  3 |    53 | Private          |   234721 | 11th        |               7 | Married-civ-spouse | Handlers-cleaners | Husband        | Black  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  4 |    28 | Private          |   338409 | Bachelors   |              13 | Married-civ-spouse | Prof-specialty    | Wife           | Black  | Female |              0 |              0 |               40 | Cuba             | <=50K    |

<h1 align="center">Setup</h1>

## Step 1: Import Libraries

Import and configure libraries required for data analysis.

In [9]:
import pandas as pd

## Step 2: Import Dataset
Use Pandas to import the data from `adult_data.csv`.

In [10]:
url = "https://raw.githubusercontent.com/blackcrowX/Data-Analysis-Projects/main/Python/Demographic_Data_Analyser/adult_data.csv"
df = pd.read_csv(url)

<h1 align="center">Data Analysis</h1>

## Step 3: Race Count

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [12]:
race_count = df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

## Step 4: Draw Line plot

What is the average age of men?

## Step 5: 

What is the percentage of people who have a Bachelor's degree?

## Step 6: 

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

## Step 7: 

What percentage of people without advanced education make more than 50K?

## Step 8: 

What is the minimum number of hours a person works per week?

## Step 9: 

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

## Step 10:

What country has the highest percentage of people that earn >50K and what is that percentage?

## Step 11:

Identify the most popular occupation for those who earn >50K in India.