<a href="https://colab.research.google.com/github/blackcrowX/Data-Analyst-Projects/blob/main/PYTHON/pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploratory Data Analysis

You work for a major candy producer, and your goal is to write a report that your company can use to guide the design of its next product.  Soon after starting your research, you stumble across this [very interesting dataset](https://fivethirtyeight.com/features/the-ultimate-halloween-candy-power-ranking/) containing results from a fun survey to crowdsource favorite candies.

##Table of Contents
1. [Setup Libraries](#1)
2. [Load Data](#2)
3. [Read Data](#3)
4. [Basic Analysis](#4)
    * [Data Cleaning](#5)
    * [Frequency](#6)
    * [The Strongest and The Weakest](#7)
    * [The Fastest and The Slowest](#8)
    * [Summary](#9)
5. [Data Visualisation](#10)
    * [Count Plot](#11)
    * [Pie Plot](#12)
    * [Box Plot and Violin Plot](#13)
    * [Swarm Flot](#14)
    * [Heat Map](#15)
6. [Conclusion](#16)

## Step 1: Setup Libraries

Import and configure the Python libraries required for the data analysis.

In [3]:
import numpy as np
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

## Step 2: Load Data
Read the data file into `data` either via following options:

Option 1: Upload CSV File

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
data = pd.read_csv(io.BytesIO(uploaded['file.csv']))

Option 2: Link CSV File

In [5]:
url = 'https://raw.githubusercontent.com/blackcrowX/Data-Analysis-Portfolio/main/Project-III/pokemon-stats.csv'
data = pd.read_csv(url)

## Step 3: Review Data

Show the first five rows of the data.

In [50]:
data.head()

,name,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,Bulbasaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,Ivysaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,Venusaur,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0
3,Charmander,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,...,88.1,4,60,50,65,fire,NaN,8.5,1,0
4,Charmeleon,"['Blaze', 'Solar Power']",0.5,1.0,1.0,1.0,0.5,1.0,0.5,1.0,...,88.1,5,80,65,80,fire,NaN,19.0,1,0

Show the last five rows of the data.

In [51]:
data.tail()

,name,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
796,Celesteela,['Beast Boost'],0.25,1.0,0.5,2.0,0.5,1.0,2.0,0.5,...,NaN,797,107,101,61,steel,flying,999.9,7,1
797,Kartana,['Beast Boost'],1.00,1.0,0.5,0.5,0.5,2.0,4.0,1.0,...,NaN,798,59,31,109,grass,steel,0.1,7,1
798,Guzzlord,['Beast Boost'],2.00,0.5,2.0,0.5,4.0,2.0,0.5,1.0,...,NaN,799,97,53,43,dark,dragon,888.0,7,1
799,Necrozma,['Prism Armor'],2.00,2.0,1.0,1.0,1.0,0.5,1.0,1.0,...,NaN,800,127,89,79,psychic,NaN,230.0,7,1
800,Magearna,['Soul-Heart'],0.25,0.5,0.0,1.0,0.5,1.0,2.0,0.5,...,NaN,801,130,115,65,steel,fairy,80.5,7,1

## Step 4: Change Data Index

Adjust data index to `id` via Python command.

In [13]:
data.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [45]:
data = data.reindex(columns=['name', 'abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'])

In [46]:
data.set_index("pokedex_number")

<bound method NDFrame.head of            name                    abilities  against_bug  against_dark  \
0     Bulbasaur  ['Overgrow', 'Chlorophyll']         1.00           1.0
1       Ivysaur  ['Overgrow', 'Chlorophyll']         1.00           1.0
2      Venusaur  ['Overgrow', 'Chlorophyll']         1.00           1.0
3    Charmander     ['Blaze', 'Solar Power']         0.50           1.0
4    Charmeleon     ['Blaze', 'Solar Power']         0.50           1.0
..          ...                          ...          ...           ...
796  Celesteela              ['Beast Boost']         0.25           1.0
797     Kartana              ['Beast Boost']         1.00           1.0
798    Guzzlord              ['Beast Boost']         2.00           0.5
799    Necrozma              ['Prism Armor']         2.00           2.0
800    Magearna               ['Soul-Heart']         0.25           0.5

     against_dragon  against_electric  against_fairy  against_fight  \
0               1.0               0.5            0.5            0.5
1               1.0               0.5            0.5            0.5
2               1.0               0.5            0.5            0.5
3               1.0               1.0            0.5            1.0
4               1.0               1.0            0.5            1.0
..              ...               ...            ...            ...
796             0.5               2.0            0.5            1.0
797             0.5               0.5            0.5            2.0
798             2.0               0.5            4.0            2.0
799             1.0               1.0            1.0            0.5
800             0.0               1.0            0.5            1.0

     against_fire  against_flying  ...  percentage_male  pokedex_number  \
0             2.0             2.0  ...             88.1               1
1             2.0             2.0  ...             88.1               2
2             2.0             2.0  ...             88.1               3
3             0.5             1.0  ...             88.1               4
4             0.5             1.0  ...             88.1               5
..            ...             ...  ...              ...             ...
796           2.0             0.5  ...              NaN             797
797           4.0             1.0  ...              NaN             798
798           0.5             1.0  ...              NaN             799
799           1.0             1.0  ...              NaN             800
800           2.0             0.5  ...              NaN             801

     sp_attack  sp_defense  speed    type1   type2  weight_kg  generation  \
0           65          65     45    grass  poison        6.9           1
1           80          80     60    grass  poison       13.0           1
2          122         120     80    grass  poison      100.0           1
3           60          50     65     fire     NaN        8.5           1
4           80          65     80     fire     NaN       19.0           1
..         ...         ...    ...      ...     ...        ...         ...
796        107         101     61    steel  flying      999.9           7
797         59          31    109    grass   steel        0.1           7
798         97          53     43     dark  dragon      888.0           7
799        127          89     79  psychic     NaN      230.0           7
800        130         115     65    steel   fairy       80.5           7

     is_legendary
0               0
1               0
2               0
3               0
4               0
..            ...
796             1
797             1
798             1
799             1
800             1

[801 rows x 41 columns]>

## Step 5: Data Cleaning

Adjust data index to `id` via Python command.